{% extends "layout.html" %}
{% block content %}

    <div class="container col-sm-3 col-sm-3" id="profile_img">

        <img src="http://offprint.in/assets/default-user-avatar-b0e5f9bf40183b2e4d177374e51fb61461eb3f6d7abe0d575403749fae74daf8.jpg"
             alt="Profil" class="img-circle img-responsive">
        <blockquote>
            <h2>{{status}} {{ userInfo[0][0] }} {{ userInfo[0][1] }}</h2>
            <small>Mail: {{ userInfo[0][2] }}
                <br/>
                <i class="glyphicon glyphicon-gift"></i> Creation Date:{{ userInfo[0][3] }} <br/>
                <i class="glyphicon glyphicon-globe"></i> Last Login Date {{ userInfo[0][4] }}<br/>

            </small>
            <a href="/profile/edit/0" class="btn btn-default btn-xs pull-right" role="button"><i
                    class="glyphicon glyphicon-edit"></i>Edit Profile</a>

        </blockquote>


    </div>
    <div class="container col-md-4 col-md-4" id="profile_suggestion">

        <h2>What should I brew today!</h2>
        {% if recipe_suggestions[0] != NULL %}
            <div class="card text-black bg-primary mb-3" style="max-width: 40rem;">
                <div class="card-header" style="color:orangered">{{ recipe_suggestions[1][0] }}</div>
                <div class="card-body">
                    <h4 class="card-title">Description: {{ recipe_suggestions[1][1] }}</h4>
                    <p class="card-text" style="color:black">Procedure: {{ recipe_suggestions[1][2] }}</p>
                    <p class="card-text" style="color:black">Ingredient: </p>
                    <p class="card-text" style="color:black">{{ recipe_suggestions[1][3] }}
                        Amount: {{ recipe_suggestions[1][4] }}</p>
                    <p class="card-text" style="color:black">{{ recipe_suggestions[1][8] }}
                        Amount: {{ recipe_suggestions[1][9] }}</p>
                    <p class="card-text" style="color:black">{{ recipe_suggestions[1][13] }}
                        Amount: {{ recipe_suggestions[1][14] }}</p>

                    <!-- <a href="/profile/recipe/delete/0" class="btn btn-info btn-xs" role="button">Delete</a>-->
                    <form name="recipeApply" method="POST">
                        <a href="/profile/apply/{{ recipe_suggestions[0] }}"
                           class="btn btn-default btn-xs pull-right"><i
                                class="glyphicon glyphicon-ok">Apply</i>
                        </a>

                    </form>

                </div>
            </div>
        {% endif %}
        <br>
        <div class="card text-black bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header" style="color:orangered">My Ingredients
            </div>
            <div class="card-body">
                {% for i in ingredients %}
                    <p class="card-text" style="color:black">{{ i[0] }} Amount: {{ i[1] }}</p>
                {% endfor %}


                <a href="/profile/ingredientAdd" class="btn btn-default btn-xs pull-right"><i
                        class="glyphicon glyphicon-edit"></i>
                </a>
            </div>
        </div>
        <br>
        <div class="card text-black bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header" style="color:orangered">My Equipments
            </div>
            <div class="card-body">
                {% for i in equipments %}
                    <p class="card-text" style="color:black">{{ i[0] }} Size: {{ i[1] }}</p>
                {% endfor %}


                <a href="/profile/equipmentAdd" class="btn btn-default btn-xs pull-right"><i
                        class="glyphicon glyphicon-edit"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="container col-md-4 col-md-4" id="profile_recipe">


        <h2>My Recipes
            <a href="/profile/add" class="btn btn-info btn-md" role="button"><i
                    class="glyphicon glyphicon-plus"></i></a>
        </h2>
        {% for recipe in recipes %}
            {% if recipe[0] != NULL %}
                <div class="card text-black bg-primary mb-3" style="max-width: 40rem;">
                    <div class="card-header" style="color:orangered">{{ recipe[1][1] }}</div>
                    <div class="card-body">
                        <h4 class="card-title">Description: {{ recipe[1][2] }}</h4>
                        <p class="card-text" style="color:black">Procedure: {{ recipe[1][3] }}</p>
                        <p class="card-text" style="color:black">Ingredient: </p>
                        {% for i in recipe %}
                            <p class="card-text" style="color:black">{{ i[4] }} Amount: {{ i[5] }}</p>
                        {% endfor %}

                        <!-- <a href="/profile/recipe/delete/0" class="btn btn-info btn-xs" role="button">Delete</a>-->
                        <form name="recipeApply" method="POST"
                              action="{{ url_for('site.profile_recipe_delete', recipeID=recipe[1][0]) }}">

                            <button type="submit" class="btn btn-info btn-xs">Delete</button>
                            <a href="/profile/apply/{{ recipe[1][0] }}" class="btn btn-default btn-xs pull-right"><i
                                    class="glyphicon glyphicon-ok">Apply</i>
                            </a>

                        </form>

                    </div>
                </div>
                <br>
                <br>
            {% endif %}

        {% endfor %}


    </div>
    <div class="container">


    </div>




    <!-- /.container -->


{% endblock %}