{% extends "layout.html" %}
{% block content %}

    <form class="form-horizontal" action="{{ url_for('site.profile_recipe_add') }}" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend style="color: white">Recipe Add</legend>

            <!-- Type input-->
            <div class="form-group">
                <label class="col-md-3 control-label" style="color: white" for="TypeID">Recipe Name</label>
                <div class="col-md-3">
                    <input id="TypeID" name="recipeName" placeholder="Recipe Name" class="form-control input-md"
                           required="" type="text">

                </div>
            </div>
            <div class="form-group">
                 <label class="col-md-3 control-label" style="color: white" for="exampleFormControlTextarea1">Description</label>
                <div class="col-md-3">

                    <textarea style="resize :none" class="form-control" id="exampleFormControlTextarea1" name="description"
                              rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                 <label class="col-md-3 control-label" style="color: white" for="comment">Procedure</label>
                <div class="col-md-3">
                    <textarea class="form-control" style="resize :none"  rows="5" id="exampleFormControlTextarea2" name="procedure"></textarea>
                </div>
            </div>
            {% for ingredient in ingredients %}
                <div class="form-group">
                <label class="col-md-3 control-label" style="color: white" for="TypeID">{{ ingredient[1] }} </label>
                <div class="col-md-3">
                    <input id="ingredientID" name="ingredient{{ ingredient[0] }}" placeholder="Amount" class="form-control input-md"
                           required="" type="text">

                </div>
            </div>
            {% endfor %}
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-3">
                    <button id="add_button" name="add_button" class="btn btn-success">Add Recipe</button>
                </div>
            </div>

        </fieldset>
    </form>



{% endblock %}
