{% extends "layout.html" %}
{% block content %}


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
    <h1 class="page-header"> {{ recipe.name }} </h1>
    <hr/>
    <br/>

    </div>
<div class="row">
    <div class="container col-lg-5 col-md-7 col-sm-8 col-xs-10 col-centered text-center">
        <img src="https://image.flaticon.com/icons/svg/39/39467.svg" height="180" width="170">
    </div>
</div>


<div class="row ">
<div class="container col-lg-5 col-md-7 col-sm-8 col-xs-10 col-centered text-center align-self-center rating-item">
    <input class="rb0" id="Ans_1" name="numericRating" type="radio" value="0" checked="checked" />
    <input class="rb1" id="Ans_2" name="numericRating" type="radio" value="1" />
    <input class="rb2" id="Ans_3" name="numericRating" type="radio" value="2" />
    <input class="rb3" id="Ans_4" name="numericRating" type="radio" value="3" />
    <input class="rb4" id="Ans_5" name="numericRating" type="radio" value="4" />

    <label for="Ans_1" class="star rb0l" onclick=""></label>
    <label for="Ans_2" class="star rb1l" onclick=""></label>
    <label for="Ans_3" class="star rb2l" onclick=""></label>
    <label for="Ans_4" class="star rb3l" onclick=""></label>
    <label for="Ans_5" class="star rb4l" onclick=""></label>

    <label for="Ans_1" class="rb" onclick="">0</label>
    <label for="Ans_2" class="rb" onclick="">1</label>
    <label for="Ans_3" class="rb" onclick="">2</label>
    <label for="Ans_4" class="rb" onclick="">3</label>
    <label for="Ans_5" class="rb" onclick="">4</label>
</div> <!-- star-rating -->
</div>

    <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-8 col-xs-10 col-centered recipe-item">
            <div class="card h-100">
            <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
            <div class="card-body">
                <h5 class="card-title">
                    Rating <img src="https://img3-secure.targetimg3.com/wcsstore/marketing/com/uimod/299-11222017-01/images/icons/star-rating-off.svg" height="10" width="58">
                    <br>Clicks: {{ recipe.clickCount }}
                </h5>
                <h4 class="card-title">
                    Description
                </h4>
                <p class="card-text">{{ recipe.desc }}</p>
                <h4 class="card-title">
                    Ingredients
                </h4>
                <p class="card-text">

                {% for i in ingredients %}
                    <p class="card-text" style="color:black">{{ i }} Amount: {{ ingredients[i] }}</p>
                {% endfor %}

                <h4 class="card-title">
                    Procedure
                </h4>
                <p class="card-text">{{ recipe.procedure }}</p>
            </div>
            </div>
        </div>
    </div>


    </div>


      <!-- Pagination -->

    </div>
    <!-- /.container -->


{% endblock %}


