{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="panel-title text-center">
        <h1 class="page-header">Search Recipe</h1>
    </div>
    <hr class="vertical-shadow"/>
    <div class="contaioner">
        <div class="table-container">
            <table data-pagination="true" data-search="true" data-toggle="table">
                <thead>
                    <tr>
                        <th data-sortable="true"> Name </th>
                        <th data-sortable="true"> Create Date </th>
                        <th data-sortable="true"> Clicked (Times) </th>
                        <th data-sortable="true"> Score </th>
                    </tr>
                    <tbody>
                    {% for recipe in recipes %}
                            <tr class="table-body-element">
                                <td><a href="/recipe/{{ recipe.id }}" style="color : inherit;">{{ recipe.name }}</a></td>
                                <td>{{ recipe.createdate }}</td>
                                <td>{{ recipe.clickCount }}</td>
                                <td>{{ recipe.score }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>

{% endblock %}